@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #ecf0f1;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  background-color: #111;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  align-items:center;
  padding: 5px;
  height: 490px;
  width: 300px;
  border-radius: 25px;
}

.display {
  background:#333;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  color: #fff;
  font-size: 36px;
  position: relative;
  padding: 20px 10px;
  text-align: right;
  height: 70px;
  width: 100%;
  position:relative;
  top:-20px;
}
 

.nums-container {
  width: 75%;
}

.ops-container {
  width: 25%;
  button{
    width:100px;
    position:relative;
    left:-40px;
    border-radius:25px;
  }
}

button {
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 24px;
  margin: 5px;
  height: 50px;
  width: 50px;
}

button:hover {
  opacity: 0.8;
}

button:active {
  transform: scale(0.9);
}

button:focus {
  outline: none;
}

button.big-v {
  border-radius: 50px;
  height: 110px;
}

button.big-h {
  border-radius: 50px;
  width: 110px;
}

button.orange {
  background-color: red;
  color: #fff;
 
}

button.dark-grey {
  background-color: #323232;
  color: #fff;
}

button.light-grey {
  background-color: #A5A5A5
}

button.ac {
  margin-right: 50%;
}